.vscode/settings.json
.vscode/tasks.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/bulk.sln
build/bulk.vcxproj
build/bulk.vcxproj.filters
build/bulk1674487523.log
build/bulk1674487538.log
build/bulk1674487553.log
build/bulk1674487901.log
build/bulk1674487914.log
build/bulk1674487923.log
build/bulk1674487926.log
build/bulk1674487927.log
build/bulk1674487931.log
build/bulk1674487932.log
build/bulk1674487941.log
build/bulk1674487947.log
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/PACKAGE.vcxproj
build/PACKAGE.vcxproj.filters
build/version.h
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/bulk.dir/Debug/bulk.exe.recipe
build/bulk.dir/Debug/bulk.ilk
build/bulk.dir/Debug/main.obj
build/bulk.dir/Debug/vc143.pdb
build/bulk.dir/Debug/bulk.tlog/bulk.lastbuildstate
build/bulk.dir/Debug/bulk.tlog/CL.command.1.tlog
build/bulk.dir/Debug/bulk.tlog/CL.read.1.tlog
build/bulk.dir/Debug/bulk.tlog/CL.write.1.tlog
build/bulk.dir/Debug/bulk.tlog/CustomBuild.command.1.tlog
build/bulk.dir/Debug/bulk.tlog/CustomBuild.read.1.tlog
build/bulk.dir/Debug/bulk.tlog/CustomBuild.write.1.tlog
build/bulk.dir/Debug/bulk.tlog/link.command.1.tlog
build/bulk.dir/Debug/bulk.tlog/link.read.1.tlog
build/bulk.dir/Debug/bulk.tlog/link.write.1.tlog
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.0-rc1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.0-rc1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.25.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.25.0-rc1/VCTargetsPath.txt
build/CMakeFiles/3.25.0-rc1/VCTargetsPath.vcxproj
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.25.0-rc1/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.25.0-rc1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/cff3db93df546d498fca61376664f180/generate.stamp.rule
build/CMakeFiles/cff3db93df546d498fca61376664f180/INSTALL_force.rule
build/CMakeFiles/cff3db93df546d498fca61376664f180/PACKAGE_force.rule
build/Debug/bulk.exe
build/Debug/bulk.pdb
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
src/main.exe
